* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, gold), color-stop(1, black));
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
}

aside {
    height: calc(100vh - 100px);
    width:  200px;
    background-color: black;
    position: fixed;
    color: whitesmoke;
    opacity: 0.7;

}

main {
    height: calc(100vh - 100px);
    width: calc(100vw - 200px);
    margin-left: 200px;
    position: relative;
    font-size: 40px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
}

#logo {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#logo img {
    height: 40px;
    width: 150px;
    object-fit: contain;
}

.sezioni {
    margin-bottom: 5px;
    padding: 5px 20px 5px;
}

.sezioni:nth-last-child(4) {
    border-left: 4px solid #00ea38;
    padding-left: 16px;
}

.sezioni i {
    width: 20px;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 15px;
}

.sezioni span {
    font-size: 13px;
}

#playlist {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 13px;
}

.sezioni-ply {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#users {
    height: 100px;
    width: 200px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    width: 70%;
    margin: auto;
}
